:root{
  --dark-gray: hsl(217, 19%, 35%);
  --gray-blue: hsl(214, 17%, 51%);
  --gray: rgb(125, 134, 145);
  --light-gray: hsl(210, 46%, 95%);
}

*, *::before, *::after{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: 'Manrope', sans-serif;
  font-size: 13px;
  background-color: #edf2f8;
  font-weight: 500;
}

.main{
  height: 100vh;
  display: flex;
  align-items: center;
}

.u-wrapper{
  width: 100vw;
  padding: 25px;
}

.card{
  width: 100%;
  margin: 0 auto;
  max-width: 770px;
  border-radius: 10px;
  background-color: white;
  height: fit-content;
  box-shadow: 0px 35px 55px -10px hsla(214, 17%, 51%, 0.12);
}

.card-image{
  width: 100%;
  border-radius: 10px 10px 0 0;
  background-image: url('./images/drawers.jpg');
  height: 200px;
  background-position: center -15px;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-content{
  padding: 30px 30px 20px 30px;
  position: relative;
  color: var(--dark-gray);
}

.card-title{
  font-size: 1.2em;
  font-weight: 700;
}

.card-text{
  font-size: 1.03em;
  line-height: 1.5em;
}

.card-user{
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-photo{
  overflow: hidden;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
img{
  width: 100%;
}
.user-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  padding: 0 15px;
}
.user-name,
.user-date{
  margin: 0;
}

.share-btn{
  border-radius: 50%;
  padding: 6px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.share-check{
  display: none;
}

.share-check:checked ~ .share-btn{
  border-radius: 50%;
  background-color: var(--gray-blue);
}

.share-check:checked ~ .share-btn .share-svg{
  fill: white;
}

.share-check:checked ~ .share-menu{
  visibility: visible;
  opacity: 1;
}

.share-menu{
  border: none;
  position: absolute;
  display: flex;
  opacity: 0;
  visibility: hidden;
  transition: all .2s ease-in;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 0 0 15px 15px;
  padding: 20px 30px 22px;
  background-color: var(--dark-gray);
  align-items: center;
}


.share-text{
  color: var(--light-gray);
  text-transform: uppercase;
  letter-spacing: 5px;
  opacity: 0.5;
  display: block;
  margin-right: 10px;
}

.social-icon{
  display: block;
  width: 30px;
  height: 30px;
}

.social-icon{
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 3px;
}

.social-fb{
  background-image: url('./images/icon-facebook.svg');
}
.social-tw{
  background-image: url('./images/icon-twitter.svg');
}
.social-pi{
  background-image: url('./images/icon-pinterest.svg');
}

@media(min-width: 900px){
  .card{
    display: flex;
    box-shadow: 0px 35px 55px -10px hsla(214, 17%, 51%, 0.14);
  }
  .card-title{
    margin-top: 0;
    font-size: 1.7em;
    font-weight: 700;
  }
  .card-content{
    padding: 30px 40px 30px 40px;
  }
  .card-image{
    height: 300.0px;
    background-position: 0% center;
    vertical-align: bottom;
    border-radius: 10px 0 0 10px;
  }
  .share-menu{
    border-radius: 10px;
    bottom: 100px;
    width: fit-content;
    left: initial;
    right: -67px;
    padding: 10px 30px;
  }
  .share-menu::before{
    content: "";
    display: block;
    box-shadow: -5px 10px 50px -12px hsla(214, 17%, 51%, 0.5);
    width: 67px;
    height: 50px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    border-radius: 0 10px 10px 0;
    z-index: -1;
  }
  .share-menu::after{
    content: "";
    display: block;
    background-color: var(--dark-gray);
    position: absolute;
    width: 30px;
    height: 30px;
    clip-path: polygon(100% 0, 0 0, 48% 50%);
    bottom: -30px;
    left: calc(50% - 15px);
  }
  .social-icon:last-of-type{
    margin-right: 0;
  }
}
